<% if @books.any? %>
  <% @books.each do |book| %>
  <h2> <%= link_to book.title, book_path(book) %> </h2>
  <h3> <%= book.author %> </h3>
  <%= link_to "Edit #{book.title}", edit_book_path(book) %>
  <%= link_to "Delete #{book.title}", book_path(book), method: :delete %>
  <% end %>
<% else %>
  No books have been added
<% end %>

<%= link_to 'Add your own book to lend!', new_book_path %>
