<!-- <div class="container">
  <div class="col-md-12">
  <div class="row">
    <% if @books.any? %>
      <% @books.each do |book| %>
        <div class="col-md-6 box">
          <div class="inner">
            <div class="col-md-6 box">
            <h3> <%= link_to book.title, book_path(book) %> </h2>
            <h4> by <%= book.author %> </h3><br>

            <% book.comments[0..2].each do |comment| %>
              <p> <%= comment.comments %>
              <% if comment.user == current_user %>
              <%= link_to book_comment_path(book, comment), method: :delete, data: {confirm: "Are you sure?"} do %>
                <span class="glyphicon glyphicon-remove delete-comment"></span>
                <% end %>
              </p>
              <% end %>
              <% end %>
               <% if book.comments[3] %>
               <%= link_to "...", book_path(book) %>
               <% end %>

            <%= link_to "Comment", new_book_comment_path(book) %>
            <% if current_user %>
            <% if current_user.id == book.user_id %>
            <%= link_to "Edit", edit_book_path(book) %>
            <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
            <% end %>
          </div>
          <div class="col-md-6 box">
            <br>
            <%= image_tag book.image.url(:medium) %><br>
          </div>
        </div>
        </div>
      <% end %>
    <% else %>
      No books have been added.
    <% end %>
  </div>
  <div>
</div> -->

<div class="container">
  <div class="row">
    <% if @books.any? %>
    <% @books.each do |book| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag book.image.url(:medium) %>
        <div class="caption">
          <h3><%= link_to book.title, book_path(book) %></h3>
          <h4>by <%= book.author %></h4>
          <% book.comments[0..2].each do |comment| %>
          <p> <%= comment.comments %>
            <% if comment.user == current_user %>
              <%= link_to book_comment_path(book, comment), method: :delete, data: {confirm: "Are you sure?"} do %>
              <span class="glyphicon glyphicon-remove delete-comment"></span>
              <% end %> </p>
            <% end %>
          <% end %>
            <% if book.comments[3] %>
              <%= link_to "...", book_path(book) %>
            <% end %>

            <%= link_to "Comment", new_book_comment_path(book) %>
            <% if current_user %>
              <% if current_user.id != book.user_id %>
                <%= button_to "Request", new_book_request_path(book) %>
                <% end %>
              <% if current_user.id == book.user_id %>
                <p><%= button_to "Edit", edit_book_path(book), class:"btn btn-default", :method => :get %>
                <%= button_to "Delete", book_path(book), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% else %>
        No books have been added.
      <% end %>
    </div>
  </div>
