<!DOCTYPE html>
<html>
  <head>
    <title>BorrowABook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style>

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .container {
      background-color: #f2f2f2;
      padding: 25px;
      margin-bottom: 100px;
    }

    .row {
      margin: 25px;
    }

    .box {
    padding: 0 5px 0 5px;
    }

    .inner {
    background-color: lavender;
    }

  </style>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Borrow My Book</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li> <%= link_to_in_li 'Home', books_path %></li>
            <li> <%= link_to_in_li 'Add a book', new_book_path %></li>
            <li> <%= link_to_in_li 'My books', profile_path %></li>
            <li> <%= link_to_in_li 'Incoming Requests', book_requests_path(current_user.id) %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to_in_li "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to_in_li "Login", new_user_session_path %></li>
              <li><%= link_to_in_li"Login with Facebook", user_facebook_omniauth_authorize_path %></li>
              <li><%= link_to_in_li "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
